# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
/DataManipulation/node_modules
/DataManipulation/package-lock.json

