# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
/DataManipulation/node_modules
/DataManipulation/package-lock.json
StyleControl/node_modules
StyleControl/package-lock.json
ConditionsLoops/package-lock.json
ConditionsLoops/node_modules
EventProcess/node_modules
EventProcess/package-lock.json
ComponentImp/package-lock.json
ComponentImp/node_modules
InputCheckComponent/node_modules
InputCheckComponent/package-lock.json
Slot/node_modules
Slot/package-lock.json
Cascader/package-lock.json
Cascader/node_modules